$primaryDimension: 30px;
$display: flex;
$flexDirectionRow: row;
$flexDirectionColumn: column;
$fontSize: large;
$fontWeight: bold;
$width: 100%;
$height: 100%;
$colorGray: #c5c5c5;
$colorDark: #1a1a1a;
$colorBlue: cornflowerblue;
$colorLightGray: #e8e9e9;
$colorWhite: #ffffff;
$colorContainerBg: #d6d7da;
$fontSizel: large;
$fontSizeXl: x-large;
$fontSizeXxl: xx-large;
$fontSizeText: 16px;
$fontWeightMedium: 400;
$fontWeightSemiBold: 500;
$fontWeightBolder: bolder;
