<div class="right-container-box">
  <div class="right-container-box__nav-bar">
    <div class="nav-bar__tabs">
      <div
        class="nav-bar__tabs--today"
        (click)="onTodayClick()"
        [className]="
          today ? 'nav-bar__tabs--today-active' : 'nav-bar__tabs--today'
        "
      >
        Today
      </div>
      <div
        class="nav-bar__tabs--week"
        (click)="onWeekClick()"
        [className]="
          week ? 'nav-bar__tabs--week-active' : 'nav-bar__tabs--week'
        "
      >
        Week
      </div>
    </div>
    <div class="nav-bar__metrics">
      <div class="nav-bar__metrics--celcius">°C</div>
      <div class="nav-bar__metrics--fahrenheit">°F</div>
    </div>
  </div>
<div class="right-container-box__data-box">
    <div class="right-container-week-cards" *ngIf="week==true">
      <div class="card">
        <div class="card-day">Sun</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value"><span class="temp-max">15°</span><span class="temp-min">-3</span></div>
      </div>
      <div class="card">
        <div class="card-day">Sun</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value"><span class="temp-max">15°</span><span class="temp-min">-3</span></div>
      </div><div class="card">
        <div class="card-day">Sun</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value"><span class="temp-max">15°</span><span class="temp-min">-3</span></div>
      </div><div class="card">
        <div class="card-day">Sun</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value"><span class="temp-max">15°</span><span class="temp-min">-3</span></div>
      </div><div class="card">
        <div class="card-day">Sun</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value"><span class="temp-max">15°</span><span class="temp-min">-3</span></div>
      </div><div class="card">
        <div class="card-day">Sun</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value"><span class="temp-max">15°</span><span class="temp-min">-3</span></div>
      </div><div class="card">
        <div class="card-day">Sun</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value"><span class="temp-max">15°</span><span class="temp-min">-3</span></div>
      </div>
    </div>
    <div class="right-container-today-cards" *ngIf="today==true">
      <div class="card">
        <div class="card-day">12:00</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value">15°</div>
            </div>
             <div class="card">
        <div class="card-day">12:00</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value">15°</div>
            </div> <div class="card">
        <div class="card-day">12:00</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value">15°</div>
            </div> <div class="card">
        <div class="card-day">12:00</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value">15°</div>
            </div> <div class="card">
        <div class="card-day">12:00</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value">15°</div>
            </div> <div class="card">
        <div class="card-day">12:00</div>
        <div class="card-temp-img"><img src="img.png" alt=""></div>
        <div class="card-temp-value">15°</div>
            </div>
    </div>
</div>
<div class="right-container-today-highlight">
  <div class="right-container-today-highlight-title">Today's Highlight</div>
  <div class="right-container-todays-highlight-cards">
    <div class="right-container-todays-highlight-card">
      <div class="right-container-todays-highlight-card-title">UV Index</div>
    <div class="gauge">
      <div class="guage_body">
        <div class="gauge__fill"></div>
        <div class="gauge__cover"></div>
      </div>
    </div>
    <div class="right-container-todays-highlight-value">5</div>
    </div>
     <div class="right-container-todays-highlight-card">
      <div class="right-container-todays-highlight-card-title">UV Index</div>
    <div class="gauge">
      <div class="guage_body">
        <div class="gauge__fill"></div>
        <div class="gauge__cover"></div>
      </div>
    </div>
    <div class="right-container-todays-highlight-value">5</div>
    </div> <div class="right-container-todays-highlight-card">
      <div class="right-container-todays-highlight-card-title">UV Index</div>
    <div class="gauge">
      <div class="guage_body">
        <div class="gauge__fill"></div>
        <div class="gauge__cover"></div>
      </div>
    </div>
    <div class="right-container-todays-highlight-value">5</div>
    </div>
  </div>
   <div class="right-container-todays-highlight-cards">
    <div class="right-container-todays-highlight-card">
      <div class="right-container-todays-highlight-card-title">UV Index</div>
    <div class="gauge">
      <div class="guage_body">
        <div class="gauge__fill"></div>
        <div class="gauge__cover"></div>
      </div>
    </div>
    <div class="right-container-todays-highlight-value">5</div>
    </div>
     <div class="right-container-todays-highlight-card">
      <div class="right-container-todays-highlight-card-title">UV Index</div>
    <div class="gauge">
      <div class="guage_body">
        <div class="gauge__fill"></div>
        <div class="gauge__cover"></div>
      </div>
    </div>
    <div class="right-container-todays-highlight-value">5</div>
    </div> <div class="right-container-todays-highlight-card">
      <div class="right-container-todays-highlight-card-title">UV Index</div>
    <div class="gauge">
      <div class="guage_body">
        <div class="gauge__fill"></div>
        <div class="gauge__cover"></div>
      </div>
    </div>
    <div class="right-container-todays-highlight-value">5</div>
    </div>
  </div>
</div>

</div>
