<div class="left-container-box">
    <div class="left-container-box__nav-bar">
        <div><input type="text" class="search-input" placeholder="search for Places ..." [(ngModel)]="searchCityName" (keyup.enter)="getData(searchCityName)"></div>
    </div>
    <div class="left-container-box__data-box">
        <div class="left-container-temp-data">
            <div class="left-container-temp-img"><img src="weather.png" alt=""></div>
            <div class="left-container-temp-value">12<sup>°C</sup></div>
            <div class="left-container-day-time">Monday ,16:00</div>
        </div>
        <div class="diving-line"></div>
        <div class="left-container-other-details">
            <div class="left-container-temp-summary">
                <div class="left-container-temp-summary-phrase-img"></div>
            <div class="left-container-temp-summary-value">Mostly Cloudy </div>
            </div>
            <div class="left-container-rain-stats">
                <div class="left-container-rain-stats-img"></div>
                <div class="left-container-rain-stats-value">Rain - 30%</div>
            </div>
            <div class="left-container-location-details">
                <div class="left-container-location-img"><img src="img.png" alt=""></div>
                <div class="left-container-location-name">Hyderabad, India</div>
            </div>
        </div>

    </div>
</div>